<a href="https://colab.research.google.com/github/brandim04/CienciaDeDados/blob/main/Atvd_3_3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
pip install ucimlrepo

Collecting ucimlrepo
  Downloading ucimlrepo-0.0.7-py3-none-any.whl.metadata (5.5 kB)
Requirement already satisfied: pandas>=1.0.0 in /usr/local/lib/python3.12/dist-packages (from ucimlrepo) (2.2.2)
Requirement already satisfied: certifi>=2020.12.5 in /usr/local/lib/python3.12/dist-packages (from ucimlrepo) (2025.10.5)
Requirement already satisfied: numpy>=1.26.0 in /usr/local/lib/python3.12/dist-packages (from pandas>=1.0.0->ucimlrepo) (2.0.2)
Requirement already satisfied: python-dateutil>=2.8.2 in /usr/local/lib/python3.12/dist-packages (from pandas>=1.0.0->ucimlrepo) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.12/dist-packages (from pandas>=1.0.0->ucimlrepo) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in /usr/local/lib/python3.12/dist-packages (from pandas>=1.0.0->ucimlrepo) (2025.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.12/dist-packages (from python-dateutil>=2.8.2->pandas>=1.0.0->ucimlrepo) (1.17.0)
Downloading ucimlrepo-0.0.7-py3-none-any.whl (8.0 kB)
Installing collected packages: ucimlrepo
Successfully installed ucimlrepo-0.0.7

In [ ]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import MinMaxScaler, StandardScaler, RobustScaler

In [ ]:
from ucimlrepo import fetch_ucirepo

# fetch dataset
adult = fetch_ucirepo(id=2)

# data (as pandas dataframes)
X = adult.data.features
y = adult.data.targets

# metadata
print(adult.metadata)

# variable information
print(adult.variables)

{'uci_id': 2, 'name': 'Adult', 'repository_url': 'https://archive.ics.uci.edu/dataset/2/adult', 'data_url': 'https://archive.ics.uci.edu/static/public/2/data.csv', 'abstract': 'Predict whether annual income of an individual exceeds $50K/yr based on census data. Also known as "Census Income" dataset. ', 'area': 'Social Science', 'tasks': ['Classification'], 'characteristics': ['Multivariate'], 'num_instances': 48842, 'num_features': 14, 'feature_types': ['Categorical', 'Integer'], 'demographics': ['Age', 'Income', 'Education Level', 'Other', 'Race', 'Sex'], 'target_col': ['income'], 'index_col': None, 'has_missing_values': 'yes', 'missing_values_symbol': 'NaN', 'year_of_dataset_creation': 1996, 'last_updated': 'Tue Sep 24 2024', 'dataset_doi': '10.24432/C5XW20', 'creators': ['Barry Becker', 'Ronny Kohavi'], 'intro_paper': None, 'additional_info': {'summary': "Extraction was done by Barry Becker from the 1994 Census database.  A set of reasonably clean records was extracted using the following conditions: ((AAGE>16) && (AGI>100) && (AFNLWGT>1)&& (HRSWK>0))\n\nPrediction task is to determine whether a person's income is over $50,000 a year.\n", 'purpose': None, 'funded_by': None, 'instances_represent': None, 'recommended_data_splits': None, 'sensitive_data': None, 'preprocessing_description': None, 'variable_info': 'Listing of attributes:\r\n\r\n>50K, <=50K.\r\n\r\nage: continuous.\r\nworkclass: Private, Self-emp-not-inc, Self-emp-inc, Federal-gov, Local-gov, State-gov, Without-pay, Never-worked.\r\nfnlwgt: continuous.\r\neducation: Bachelors, Some-college, 11th, HS-grad, Prof-school, Assoc-acdm, Assoc-voc, 9th, 7th-8th, 12th, Masters, 1st-4th, 10th, Doctorate, 5th-6th, Preschool.\r\neducation-num: continuous.\r\nmarital-status: Married-civ-spouse, Divorced, Never-married, Separated, Widowed, Married-spouse-absent, Married-AF-spouse.\r\noccupation: Tech-support, Craft-repair, Other-service, Sales, Exec-managerial, Prof-specialty, Handlers-cleaners, Machine-op-inspct, Adm-clerical, Farming-fishing, Transport-moving, Priv-house-serv, Protective-serv, Armed-Forces.\r\nrelationship: Wife, Own-child, Husband, Not-in-family, Other-relative, Unmarried.\r\nrace: White, Asian-Pac-Islander, Amer-Indian-Eskimo, Other, Black.\r\nsex: Female, Male.\r\ncapital-gain: continuous.\r\ncapital-loss: continuous.\r\nhours-per-week: continuous.\r\nnative-country: United-States, Cambodia, England, Puerto-Rico, Canada, Germany, Outlying-US(Guam-USVI-etc), India, Japan, Greece, South, China, Cuba, Iran, Honduras, Philippines, Italy, Poland, Jamaica, Vietnam, Mexico, Portugal, Ireland, France, Dominican-Republic, Laos, Ecuador, Taiwan, Haiti, Columbia, Hungary, Guatemala, Nicaragua, Scotland, Thailand, Yugoslavia, El-Salvador, Trinadad&Tobago, Peru, Hong, Holand-Netherlands.', 'citation': None}}
              name     role         type      demographic  \
0              age  Feature      Integer              Age
1        workclass  Feature  Categorical           Income
2           fnlwgt  Feature      Integer             None
3        education  Feature  Categorical  Education Level
4    education-num  Feature      Integer  Education Level
5   marital-status  Feature  Categorical            Other
6       occupation  Feature  Categorical            Other
7     relationship  Feature  Categorical            Other
8             race  Feature  Categorical             Race
9              sex  Feature       Binary              Sex
10    capital-gain  Feature      Integer             None
11    capital-loss  Feature      Integer             None
12  hours-per-week  Feature      Integer             None
13  native-country  Feature  Categorical            Other
14          income   Target       Binary           Income

                                          description units missing_values
0                                                 N/A  None             no
1   Private, Self-emp-not-inc, Self-emp-inc, Feder...  None            yes
2                                                None  None             no
3    Bachelors, Some-college, 11th, HS-grad, Prof-...  None             no
4                                                None  None             no
5   Married-civ-spouse, Divorced, Never-married, S...  None             no
6   Tech-support, Craft-repair, Other-service, Sal...  None            yes
7   Wife, Own-child, Husband, Not-in-family, Other...  None             no
8   White, Asian-Pac-Islander, Amer-Indian-Eskimo,...  None             no
9                                       Female, Male.  None             no
10                                               None  None             no
11                                               None  None             no
12                                               None  None             no
13  United-States, Cambodia, England, Puerto-Rico,...  None            yes
14                                       >50K, <=50K.  None             no

In [ ]:
print(X.head())

   age         workclass  fnlwgt  education  education-num  \
0   39         State-gov   77516  Bachelors             13
1   50  Self-emp-not-inc   83311  Bachelors             13
2   38           Private  215646    HS-grad              9
3   53           Private  234721       11th              7
4   28           Private  338409  Bachelors             13

       marital-status         occupation   relationship   race     sex  \
0       Never-married       Adm-clerical  Not-in-family  White    Male
1  Married-civ-spouse    Exec-managerial        Husband  White    Male
2            Divorced  Handlers-cleaners  Not-in-family  White    Male
3  Married-civ-spouse  Handlers-cleaners        Husband  Black    Male
4  Married-civ-spouse     Prof-specialty           Wife  Black  Female

   capital-gain  capital-loss  hours-per-week native-country
0          2174             0              40  United-States
1             0             0              13  United-States
2             0             0              40  United-States
3             0             0              40  United-States
4             0             0              40           Cuba

In [ ]:
X_processed = X.copy()

# Remover espaços extras e padronizar capitalização
for col in X_processed.select_dtypes(include=['object']).columns:
    X_processed[col] = X_processed[col].str.strip().str.title()  # Capitaliza a primeira letra de cada palavra

# Padronizar valores específicos, por exemplo países
country_mapping = {
    'United-States': 'United States',
    'United States': 'United States',
    'Self-Employed': 'Self Employed',  # Exemplo se houver variações
    # Adicione outros mapeamentos se necessário
}

X_processed['native-country'] = X_processed['native-country'].map(country_mapping).fillna(X_processed['native-country'])

# Converter valores "?" para NaN (já feito no read_csv, mas garantir)
X_processed.replace('?', np.nan, inplace=True)

# Verificar valores ausentes
print(X_processed.isnull().sum())

# Update X with the processed DataFrame
X = X_processed

age                  0
workclass         2799
fnlwgt               0
education            0
education-num        0
marital-status       0
occupation        2809
relationship         0
race                 0
sex                  0
capital-gain         0
capital-loss         0
hours-per-week       0
native-country     857
dtype: int64

In [11]:
num_cols = X.select_dtypes(include=['int64', 'float64']).columns
print("Colunas numéricas:", list(num_cols))

Colunas numéricas: ['age', 'fnlwgt', 'education-num', 'capital-gain', 'capital-loss', 'hours-per-week']

In [13]:
minmax_scaler = MinMaxScaler()
df_minmax = X.copy()
df_minmax[num_cols] = minmax_scaler.fit_transform(df_minmax[num_cols])
print("Exemplo Min-Max Scaling:")
print(df_minmax[num_cols].head())

Exemplo Min-Max Scaling:
        age    fnlwgt  education-num  capital-gain  capital-loss  \
0  0.301370  0.044131       0.800000       0.02174           0.0
1  0.452055  0.048052       0.800000       0.00000           0.0
2  0.287671  0.137581       0.533333       0.00000           0.0
3  0.493151  0.150486       0.400000       0.00000           0.0
4  0.150685  0.220635       0.800000       0.00000           0.0

   hours-per-week
0        0.397959
1        0.122449
2        0.397959
3        0.397959
4        0.397959

In [15]:
standard_scaler = StandardScaler()
df_standard = X.copy()
df_standard[num_cols] = standard_scaler.fit_transform(df_standard[num_cols])
print("Exemplo Standardization (Z-score):")
print(df_standard[num_cols].head())

Exemplo Standardization (Z-score):
        age    fnlwgt  education-num  capital-gain  capital-loss  \
0  0.025996 -1.061979       1.136512      0.146932     -0.217127
1  0.828308 -1.007104       1.136512     -0.144804     -0.217127
2 -0.046942  0.246034      -0.419335     -0.144804     -0.217127
3  1.047121  0.426663      -1.197259     -0.144804     -0.217127
4 -0.776316  1.408530       1.136512     -0.144804     -0.217127

   hours-per-week
0       -0.034087
1       -2.213032
2       -0.034087
3       -0.034087
4       -0.034087

In [17]:
robust_scaler = RobustScaler()
df_robust = X.copy()
df_robust[num_cols] = robust_scaler.fit_transform(df_robust[num_cols])
print("Exemplo Robust Scaling:")
print(df_robust[num_cols].head())

Exemplo Robust Scaling:
    age    fnlwgt  education-num  capital-gain  capital-loss  hours-per-week
0  0.10 -0.837932       1.000000        2174.0           0.0             0.0
1  0.65 -0.789677       1.000000           0.0           0.0            -5.4
2  0.05  0.312274      -0.333333           0.0           0.0             0.0
3  0.80  0.471112      -1.000000           0.0           0.0             0.0
4 -0.45  1.334520       1.000000           0.0           0.0             0.0

In [19]:
# Estatísticas básicas para comparação
print("Original:")
print(X[num_cols].describe())

print("\nMin-Max Scaling:")
print(df_minmax[num_cols].describe())

print("\nZ-score Standardization:")
print(df_standard[num_cols].describe())

print("\nRobust Scaling:")
print(df_robust[num_cols].describe())

Original:
                age        fnlwgt  education-num  capital-gain  capital-loss  \
count  48842.000000  4.884200e+04   48842.000000  48842.000000  48842.000000
mean      38.643585  1.896641e+05      10.078089   1079.067626     87.502314
std       13.710510  1.056040e+05       2.570973   7452.019058    403.004552
min       17.000000  1.228500e+04       1.000000      0.000000      0.000000
25%       28.000000  1.175505e+05       9.000000      0.000000      0.000000
50%       37.000000  1.781445e+05      10.000000      0.000000      0.000000
75%       48.000000  2.376420e+05      12.000000      0.000000      0.000000
max       90.000000  1.490400e+06      16.000000  99999.000000   4356.000000

       hours-per-week
count    48842.000000
mean        40.422382
std         12.391444
min          1.000000
25%         40.000000
50%         40.000000
75%         45.000000
max         99.000000

Min-Max Scaling:
                age        fnlwgt  education-num  capital-gain  capital-loss  \
count  48842.000000  48842.000000   48842.000000  48842.000000  48842.000000
mean       0.296487      0.120004       0.605206      0.010791      0.020088
std        0.187815      0.071445       0.171398      0.074521      0.092517
min        0.000000      0.000000       0.000000      0.000000      0.000000
25%        0.150685      0.071216       0.533333      0.000000      0.000000
50%        0.273973      0.112210       0.600000      0.000000      0.000000
75%        0.424658      0.152462       0.733333      0.000000      0.000000
max        1.000000      1.000000       1.000000      1.000000      1.000000

       hours-per-week
count    48842.000000
mean         0.402269
std          0.126443
min          0.000000
25%          0.397959
50%          0.397959
75%          0.448980
max          1.000000

Z-score Standardization:
                age        fnlwgt  education-num  capital-gain  capital-loss  \
count  4.884200e+04  4.884200e+04   4.884200e+04  4.884200e+04  4.884200e+04
mean   2.275273e-16 -5.644539e-17  -9.019624e-17  1.018345e-17 -9.892491e-18
std    1.000010e+00  1.000010e+00   1.000010e+00  1.000010e+00  1.000010e+00
min   -1.578629e+00 -1.679680e+00  -3.531030e+00 -1.448035e-01 -2.171271e-01
25%   -7.763164e-01 -6.828752e-01  -4.193353e-01 -1.448035e-01 -2.171271e-01
50%   -1.198790e-01 -1.090844e-01  -3.037346e-02 -1.448035e-01 -2.171271e-01
75%    6.824334e-01  4.543232e-01   7.475502e-01 -1.448035e-01 -2.171271e-01
max    3.745808e+00  1.231723e+01   2.303397e+00  1.327438e+01  1.059179e+01

       hours-per-week
count    4.884200e+04
mean     4.568003e-17
std      1.000010e+00
min     -3.181452e+00
25%     -3.408696e-02
50%     -3.408696e-02
75%      3.694214e-01
max      4.727312e+00

Robust Scaling:
                age        fnlwgt  education-num  capital-gain  capital-loss  \
count  48842.000000  48842.000000   48842.000000  48842.000000  48842.000000
mean       0.082179      0.095924       0.026030   1079.067626     87.502314
std        0.685525      0.879363       0.856991   7452.019058    403.004552
min       -1.000000     -1.381109      -3.000000      0.000000      0.000000
25%       -0.450000     -0.504565      -0.333333      0.000000      0.000000
50%        0.000000      0.000000       0.000000      0.000000      0.000000
75%        0.550000      0.495435       0.666667      0.000000      0.000000
max        2.650000     10.927131       2.000000  99999.000000   4356.000000

       hours-per-week
count    48842.000000
mean         0.084476
std          2.478289
min         -7.800000
25%          0.000000
50%          0.000000
75%          1.000000
max         11.800000