<a href="https://colab.research.google.com/github/brandim04/CienciaDeDados/blob/main/Atvd_3_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
import pandas as pd
import numpy as np
!pip install fuzzywuzzy python-Levenshtein
from fuzzywuzzy import fuzz
from fuzzywuzzy import process

Collecting fuzzywuzzy
  Downloading fuzzywuzzy-0.18.0-py2.py3-none-any.whl.metadata (4.9 kB)
Collecting python-Levenshtein
  Downloading python_levenshtein-0.27.3-py3-none-any.whl.metadata (3.9 kB)
Collecting Levenshtein==0.27.3 (from python-Levenshtein)
  Downloading levenshtein-0.27.3-cp312-cp312-manylinux_2_24_x86_64.manylinux_2_28_x86_64.whl.metadata (3.7 kB)
Collecting rapidfuzz<4.0.0,>=3.9.0 (from Levenshtein==0.27.3->python-Levenshtein)
  Downloading rapidfuzz-3.14.3-cp312-cp312-manylinux_2_27_x86_64.manylinux_2_28_x86_64.whl.metadata (12 kB)
Downloading fuzzywuzzy-0.18.0-py2.py3-none-any.whl (18 kB)
Downloading python_levenshtein-0.27.3-py3-none-any.whl (9.5 kB)
Downloading levenshtein-0.27.3-cp312-cp312-manylinux_2_24_x86_64.manylinux_2_28_x86_64.whl (153 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 153.3/153.3 kB 5.7 MB/s eta 0:00:00
Downloading rapidfuzz-3.14.3-cp312-cp312-manylinux_2_27_x86_64.manylinux_2_28_x86_64.whl (3.2 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 3.2/3.2 MB 59.1 MB/s eta 0:00:00
Installing collected packages: fuzzywuzzy, rapidfuzz, Levenshtein, python-Levenshtein
Successfully installed Levenshtein-0.27.3 fuzzywuzzy-0.18.0 python-Levenshtein-0.27.3 rapidfuzz-3.14.3

In [5]:
import kagglehub

# Download latest version
path = kagglehub.dataset_download("archit9406/customer-transaction-dataset")

print("Path to dataset files:", path)

Downloading from https://www.kaggle.com/api/v1/datasets/download/archit9406/customer-transaction-dataset?dataset_version_number=1...

100%|██████████| 2.54M/2.54M [00:00<00:00, 126MB/s]

Extracting files...
Path to dataset files: /root/.cache/kagglehub/datasets/archit9406/customer-transaction-dataset/versions/1

In [7]:
df = pd.read_excel(f'{path}/KPMG_VI_New_raw_data_update_final.xlsx', sheet_name='Transactions')

In [8]:
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20001 entries, 0 to 20000
Data columns (total 13 columns):
 #   Column                                                                                                                                                                         Non-Null Count  Dtype
---  ------                                                                                                                                                                         --------------  -----
 0   Note: The data and information in this document is reflective of a hypothetical situation and client. This document is to be used for KPMG Virtual Internship purposes only.   20001 non-null  object
 1   Unnamed: 1                                                                                                                                                                     20001 non-null  object
 2   Unnamed: 2                                                                                                                                                                     20001 non-null  object
 3   Unnamed: 3                                                                                                                                                                     20001 non-null  object
 4   Unnamed: 4                                                                                                                                                                     19641 non-null  object
 5   Unnamed: 5                                                                                                                                                                     20001 non-null  object
 6   Unnamed: 6                                                                                                                                                                     19804 non-null  object
 7   Unnamed: 7                                                                                                                                                                     19804 non-null  object
 8   Unnamed: 8                                                                                                                                                                     19804 non-null  object
 9   Unnamed: 9                                                                                                                                                                     19804 non-null  object
 10  Unnamed: 10                                                                                                                                                                    20001 non-null  object
 11  Unnamed: 11                                                                                                                                                                    19804 non-null  object
 12  Unnamed: 12                                                                                                                                                                    19804 non-null  object
dtypes: object(13)
memory usage: 2.0+ MB
None

In [9]:
print(df.head())

  Note: The data and information in this document is reflective of a hypothetical situation and client. This document is to be used for KPMG Virtual Internship purposes only.   \
0                                     transaction_id
1                                                  1
2                                                  2
3                                                  3
4                                                  4

   Unnamed: 1   Unnamed: 2           Unnamed: 3    Unnamed: 4    Unnamed: 5  \
0  product_id  customer_id     transaction_date  online_order  order_status
1           2         2950  2017-02-25 00:00:00         False      Approved
2           3         3120  2017-05-21 00:00:00          True      Approved
3          37          402  2017-10-16 00:00:00         False      Approved
4          88         3135  2017-08-31 00:00:00         False      Approved

       Unnamed: 6    Unnamed: 7     Unnamed: 8    Unnamed: 9 Unnamed: 10  \
0           brand  product_line  product_class  product_size  list_price
1           Solex      Standard         medium        medium       71.49
2   Trek Bicycles      Standard         medium         large     2091.47
3      OHM Cycles      Standard            low        medium     1793.43
4  Norco Bicycles      Standard         medium        medium     1198.46

     Unnamed: 11              Unnamed: 12
0  standard_cost  product_first_sold_date
1          53.62                    41245
2         388.92                    41701
3         248.82                    36361
4          381.1                    36145

In [10]:
# Contar duplicatas exatas
exact_duplicates = df.duplicated().sum()
print(f"Número de duplicatas exatas: {exact_duplicates}")

# Remover duplicatas exatas
df_no_exact_duplicates = df.drop_duplicates()
print(f"Tamanho original: {df.shape}, Após remoção de duplicatas exatas: {df_no_exact_duplicates.shape}")

Número de duplicatas exatas: 0
Tamanho original: (20001, 13), Após remoção de duplicatas exatas: (20001, 13)